body {
    padding:0;margin:0;
}
.scrap-text h1{ margin-bottom:20px; text-transform:uppercase;}
.scrap{background-color: #222222;color: #fff; float:left; width:100%; text-align:center;    height: 100vh; position:relative;}
.margin-right-ten{margin-right:10px;}
.scrap .scrap-text {
    position: static;
    transform: inherit;
    float: left;
    padding: 12px 0;
}
.scrap .scrap-text h1 {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.scrap .scrap-text a.btn.btn-info {
    background-color: #3498db;
    border: none !important;
}
.scrap .scrap-text a#progress-bar-trigge {
    background-color: #f39c12;
}
.text-uppercase{text-transform:uppercase;}
.scrap  .table-bordered {
    border: 1px solid #dee2e6;
    background-color: #222;
    color: #fff;
}
.scrap .table-bordered td {
    border: none;
}
.scrap tbody tr:nth-child(odd) {
    background-color: #3d3d3d;
}
#progress-bar {
  margin-top: 1em;
}
.scrap .table-bordered td, .table-bordered th {
    border: 1px solid #444444;
        vertical-align: middle;
}
.scrap .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #444444;
}
.scrap .scrap-text a#progress-bar-trigge i.fa.fa-refresh.fa-spin {
    display: none;
}
.scrap .scrap-text a#progress-bar-trigge:focus i.fa.fa-refresh.fa-spin, .scrap .scrap-text a#progress-bar-trigge:active i.fa.fa-refresh.fa-spin {
    display: inline-block;
}