<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

{% if s %}
<script>alert("To download csv click on scrapping button")</script>
{% endif %}
<div class="scrap">
    <div class="container">
        <div class="scrap-text">
            <h1>scrapping website</h1>
            <a href="/scrap_data" class="btn btn-info margin-right-ten text-uppercase" id="progress-bar-trigge">
                <i class="fa fa-refresh fa-spin"></i>  Start Scrapping</a>
            <a href="/data.csv" class="btn btn-info">Download CSV File</a>
        </div>
    </div>



  <table class="table table-bordered">
    <thead>
      <tr>
        <th>NAME</th>
        <th>JOB</th>
        <th>EMAIL</th>
           <th>COMPANY</th>
      </tr>
    </thead>
    <tbody>
{% for i, j, k, l in name %}
      <tr>
        <td>{{i}}</td>
        <td>{{j}}</td>
        <td>{{k}}</td>
        <td>{{l}}</td>
      </tr>
     {% endfor %}


    </tbody>
  </table>
</div>
</div>
<script src="/assets/js/jquery-3.4.1.min.js"></script>


</body>
</html>